*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* width: 100vw;
    height: 100vh; */
    font-family: "Roboto", serif;
    background: #b8d3b4;
}

h1{
    text-align: center;
    color: #6D2323;
    margin-top: 3rem;
    font-size: 40px;
}

.contaner{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contaner .game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3.5%;
}
.game .box{
    height: 22%;
    width: 26%;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 3px 3px 0px #9d6d36;
    font-size: 40px;
    color: #A31D1D;
    background: #E5D0AC;
}

.reset-btn{
    margin: auto;
    display: flex;
    border-radius: 5px;
    border: none;
    padding: 7px 10px;
    background: #6D2323;
    color: white;
    transition: all 0.2s ease-in-out;
    font-weight: 600;
    
}
.reset-btn:hover{
    background: #A31D1D;
    transition: all 0.2s ease-in-out;
}

#msg{
    color: #A31D1D;
    font-size: 8vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hide{
    display: none;
}
.new-game-btn{
    margin-top: 2rem;
    display: flex;
    border-radius: 5px;
    border: none;
    padding: 7px 10px;
    background: #6D2323;
    color: white;
    transition: all 0.2s ease-in-out;
}
.new-game-btn:hover{
    background: #A31D1D;
    transition: all 0.2s ease-in-out;
}


@media screen and (min-width: 1025px) and (max-width: 1366px){

}
@media screen and (min-width: 769px) and (max-width: 1024px){
    h1{
        margin-top: 8rem;
    }
    .contaner {
        height: 70vh;
    }
}
@media screen and (min-width: 540px) and (max-width: 768px){
    h1{
        margin-top: 9rem;
    }
    .contaner {
        height: 60vh;
    }
}
@media screen and (min-width: 320px) and (max-width: 539px){
    h1{
        margin-top: 4rem;
    }
    .contaner{
        height: 54vh;
    }
}